/* Main context menu outer */
.contextualMenu{
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background: var(--contextualMenuBg);
    box-shadow: var(--contextualMenuShadow);
    border-radius: var(--contextualMenuRadius);
    margin:0;
    list-style: none;
    color: var(--contextualMenuText);
    overflow: hidden;
}

/* Menu seperator item */
.contextualMenuSeperator{
    display: block;
    padding: 5px 5px;
}
    .contextualMenuSeperator div{
        width:100%;
        height:1px;
        background: var(--contextualSeperator);
    }

/* Default menu item */
.contextualMenuItem{
    display: block;
    padding: 5px 8px;
    cursor: default;
}
    .contextualMenuItem:hover{
        background: var(--contextualHover);
    }
    .contextualMenuItemIcon{
        float: left;
        width:16px;
        height: 16px;
    }
    .contextualMenuItemTitle{
        text-align: left;
        line-height: 16px;
        display: inline-block;
        padding: 0px 0px 0px 7px;
    }
    .contextualMenuItemTip{
        float: right;
        padding: 0px 0px 0px 50px;
        text-align: right;
        line-height: 16px;
    }
    .contextualMenuItemOverflow{
        float: right;
        width:16px;
        height: 16px;
        padding: 1px 0px 0px 7px;
    }
        .contextualMenuItemOverflow .contextualMenuItemOverflowLine{
            display: block;
            height: 1px;
            margin: 3px 2px;
            background: var(--contextualOverflowIcon);
        }
        .contextualMenuItemOverflow.hidden{
            display: none;
        }

/* Submenu item */ 
.contextualSubMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    background: var(--contextualSubMenuBg);
    border-radius: var(--contextualMenuRadius);
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    left: 0;
    transition: left 0.25s;
}
    .contextualHeader{
        border-bottom: 1px solid var(--contextualSeperator);
    }
        .contextualHeader input{
            background: transparent;
            color: var(--contextualMenuText);
            border:none;
            width: 30px;
            height: 30px;
            position: absolute;
            left:0;
            font-weight: bold;
        }
            .contextualHeader input:hover{
                background: var(--contextualHover);
            }
        .contextualHeader span{
            width:100%;
            text-align: center;
            display: inline-block;
            line-height: 30px;
            font-weight: bold;
        }
    .contextualSubMenu .contextualMenuItem:hover{
        background: var(--contextualHover);
    }

.contextualMenuHidden{
    left: 100% !important;
}

    
    
        


 




